
{% extends 'app/navbar.html' %}
{%load static%}
<link rel="stylesheet" href="/static/css/style.css">

{% block content %}
    <div>
        <p class="header">Create New Article</p>
        <form id="article_create" method='POST' action="" enctype="multipart/form-data">
            <div class="container_create">
            {% csrf_token %}
            {{form}}
            </div>
        <br>
        <button class="btn btn-dark" type='submit' value='Create'>Create</button>    
        </form>
    </div>
{% endblock content %}
    